html, body {
  height: 100%;
  width: 100%;
}

/*Importing genshin_font*/
@font-face {
font-family: genshin_font;
src: url("fontfolder/genshinfont-webfont.woff2") format("woff2"),
     url("fontfolder/genshinfont-webfont.woff") format("woff");
}

/*Formatting background*/
body {
  background-image: url("nahida-images/sumeru_bg.jpg");
  margin: 0px;
  background-size:cover;
  background-repeat: no-repeat;
}

/*Formatting navigation*/
.navigation {
  padding:2px 2px 2px;
  position: sticky;
  font-family: genshin_font;
  border-bottom: #1e3f66 solid 5px;
  background-color: rgb(10, 52, 99, 0.5);
  height: 30px;
  z-index: 9999;
  top:0;
}

/*Nav links*/
nav a.nav-links {
  color: #FFFFFF;
  text-decoration: none;
  font-family: genshin_font;
  text-align: left;
  box-shadow: inset 0 0 0 0 #1c2e4a;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  margin-left: 10px;
}

/*Nav links transition*/
a.nav-links:hover {
  box-shadow: inset 100px 0 0 0 #1c2e4a;
}


/*----------- Start of Body -----------*/



/*Formatting main Venti image*/


/*Table containing basic info, two pictures*/

.table1{
  width: 70%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 30px;
}

td {
  vertical-align: top;
}

/*Venti: table title*/
.venti{
  font-family: genshin_font;
  color: #FFFFFF;
  font-size: 70px;

  text-shadow: 5px 5px #1c2e4a;
  text-align: center;
}

/*Image with Venti, Aether, and Paimon*/
.venticuteimage1{
  max-width: 96%;
  border:5px solid #FFFFFF;
}

/*Image of Mondstadt*/
.mondstadtimage{
  max-width: 89%;
  border:5px solid #FFFFFF;
}

/*'Basic Character Information' title*/
.basicinfo_header{
  font-family: genshin_font;
  color: #FFFFFF;
  font-size: 25px;
  text-shadow: 2px 1px #1c2e4a;
  text-align: center;
  background-color: rgba(0,63,76,0.3);
  border-radius: 4px;
  width:30%;
}

/*Text below 'Basic Character Information'*/
.basicinfo_subtext{
  font-family: genshin_font;
  color: #FFFFFF;
  font-size: 18px;
  text-shadow: 2px 1px #1c2e4a;
}

.venti_image{
  position: absolute;
  display: inline-block;
  padding-left:-30px;
}

/*Sprites*/
#social-media-links{
  box-sizing: border-box;
  text-align: center;
  padding: 25px 25px 25px 25px;
   background-color: rgb(10, 52, 99, 0.5);
  border-radius: 6px;
}

#social-media-links a{
  display: inline-block;
  padding-left: 30px;
}

#twitter_sprite {
	background: url('venti-images/social-media-sprites.png') no-repeat -66px -75px;
	width: 138px;
	height: 115px;

}


#twitter_sprite:hover {
	background: url('venti-images/social-media-sprites.png') no-repeat -70px -233px;
	width: 138px;
	height: 116px;  

}

#reddit_sprite {
	background: url('venti-images/social-media-sprites.png') no-repeat -259px -71px;
	width: 128px;
	height: 128px;

}

#reddit_sprite:hover {
	background: url('venti-images/social-media-sprites.png') no-repeat -259px -227px;
	width: 128px;
	height: 128px;
}

#fandom_sprite {
	background: url('venti-images/social-media-sprites.png') no-repeat -452px -65px;
	width: 103px;
	height: 141px;

}

#fandom_sprite:hover{
	background: url('venti-images/social-media-sprites.png') no-repeat -455px -220px;
	width: 102px;
	height: 141px;
}


/*Article containing the character stories*/
.stories{
  width: 70%;
  height: 500px;
  margin: 40px auto;
  background-image: linear-gradient(#42e0d1, #0D52BD, #101d6b);
  border-radius: 30px;
  overflow: scroll;
}

/*Character Story titles (1, 2, etc.)*/
.storiesheaders{
  font-family: genshin_font;
      color: #FFFFFF;
      font-size: 35px;
      text-shadow: 3px 3px #1c2e4a;
      text-align: center;
  padding:0px;
}

/*Body text of the character stories*/
.storiestext{
  font-family: genshin_font;
  color: #FFFFFF;
  font-size: 15px;
  padding: 0px 20px;
}

/*Venti demo video*/
.demo_video{
  text-align: center;
}

/*Set space*/
.space{
  height:50px;
}

/*Formatting footer*/
footer{
  text-align : left;
  position: sticky;
  padding:2px 2px 2px;
  border-top: #1e3f66 solid 5px;
  background-color: rgb(10, 52, 99, 0.5);
}

/*Footer text*/
.sourcestext{
  font-family: genshin_font;
  color: #FFFFFF;
  font-size: 15px;
}

