html, body {
  height: 100%;
  width: 100%;
}

/*Importing genshin_font*/
@font-face {
      font-family: genshin_font;
      src: url("fontfolder/genshinfont-webfont.woff2") format("woff2"),
           url("fontfolder/genshinfont-webfont.woff") format("woff");
    }

/*Homepage background properties*/
    body {
      background-image: url("homepage-images/celestia.png");
      background-size: cover;
      overflow: hidden;
      margin: 0;
      opacity: 1;
    }

/*Formatting main header of the homepage*/
    .homepage_title {
      position: relative;
      text-shadow: -10px 7px #3b3e86;   
    }


/*Formatting title text*/
    h1 {
      font-family: genshin_font;
      color: white;
      font-size: 65px;
      text-align: center;
    }

/*The following two classes are for zoom (title text)*/
    .zoom {
      transition: transform .2s;
      margin: 0 auto;
    }

    .zoom:hover {
      -ms-transform: scale(1.10); 
      -webkit-transform: scale(1.10); 
      transform: scale(1.10); 
    }

/*Formatting the four image links collectively*/
    .hyperlinks div {
      display: inline-block;
    }

  /*No line under links*/
    .hyperlinks a{
      text-decoration: none;
    }

  /*No line under links*/
    .centerimages{
      display: flex;
      align-items: center;
      justify-content: center;
    }

/*Hyperlink text*/
    .hyperlink{
      color: white;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: genshin_font;
      
    }

    
/*----VENTI----*/
    .venticontainer {
    position: relative;
    }
    
    #ventiimage {  
      display: inline;  
      margin-left: auto;  
      margin-right: auto;  
      padding: 7px;
    }

    .ventioverlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #009900;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .4s ease;
    }

    .venticontainer:hover .ventioverlay {
    bottom: 0;
    height: 100%;
    }



/*---ZHONGLI---*/
    .zhonglicontainer {
    position: relative;
    }
    
    #zhongliimage {  
      display: inline;  
      margin-left: auto;  
      margin-right: auto;   
      padding: 7px;
    }

    .zhonglioverlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #af5427;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .4s ease;
    }

    .zhonglicontainer:hover .zhonglioverlay {
    bottom: 0;
    height: 100%;
    }



/*----EI----*/
    .eicontainer {
    position: relative;
    }
    
    #eiimage {  
      display: inline;  
      margin-left: auto;  
      margin-right: auto;
      padding: 7px;
    }

    .eioverlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #8512A1;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .4s ease;
    }

    .eicontainer:hover .eioverlay {
    bottom: 0;
    height: 100%;
    }



/*----NAHIDA----*/
    .nahidacontainer {
    position: relative;
    }
    
    #nahidaimage {  
      display: inline;  
      margin-left: auto;  
      margin-right: auto;
      padding: 7px;
    }

    .nahidaoverlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #98fb98;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .4s ease;
    }

    .nahidacontainer:hover .nahidaoverlay {
    bottom: 0;
    height: 100%;
    }

    

/*End of hyperlink formatting*/
    
    
