@import url("css/style.css");

/*Importing genshin_font*/
    @font-face {
    font-family: genshin_font;
    src: url("fontfolder/genshinfont-webfont.woff2") format("woff2"),
         url("fontfolder/genshinfont-webfont.woff") format("woff");
    }

/*Background*/
    body {
      background-color: #b99c71;
      background-image: url("zhongli-images/zhongli_namecard.jpg");
      background-size: cover;
      margin : 0px ;
    }

    html{
      margin : 0px ; 
    }

    * {
    box-sizing: border-box;
  } 

/*Header and footer*/
    #header, #footer {
      height : 40px ;
      text-align : left ;
      width : 100{07c2b926d154bd5dc241f595a572d3349d41d98f2484798a4a616f4fafe1ebc0} ;
    }

    .header {
      padding:2px 2px 2px;
      text-align: left;
      font-family: genshin_font;
      border-bottom: #614539 solid 5px;
      background-color:rgba(255,255,255,.2);
      height: 30px;
      position: relative;
      z-index: 9999;
    }

    #footer{
      height : 40px ;
      text-align : left ;
      position: sticky;

    }

    .footer {
      padding:2px 2px 2px;
      position: sticky;
      font-family: genshin_font;
      height: 400px;
      z-index: 9999;
    }

    .sourcestext p{
      font-family: genshin_font;
      color: #FFFFFF;
      font-size: 15px;
      border-top: #614539 solid 5px;
            background-color: rgb(106, 83, 41, 0.5);
    }

/*Navigation Links*/
    a{
      text-decoration: none;
      font-family: genshin_font;
      font-size: 20px;
      text-align: left;
      box-shadow: inset 0 0 0 0 #614539;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      margin-left: 10px;
    }

    a:hover {
      box-shadow: inset 100px 0 0 0 #614539;
    }

    #section {
      width:80%;
      margin: 40px auto;
    }

/*Row containing the basic character information*/
    #row1 {
      border-radius: 25px;
      padding: 10px;
      background-color: #B59667;
      background-image: linear-gradient(#B59667, #B09061, #B18C54);
      overflow: auto;
      display:flex;
    }

/*Includes the picture of Zhongli*/
    #column1 {
      border-radius: 25px;
      width:30%;
      margin: 20px 30px;
      padding: 10px;
      background-color: #B59667;
      background-image: linear-gradient(#B59667, #B09061, #CBA061);
      overflow: hidden;
      float:left;
    }

/*Includes the basic character information */
    #column2 {
      border-radius: 25px;
      width: 60%;
      float: right;
      background-color: #C6A16A;
      background-image: linear-gradient(#B59667, #C29857, #CEA260);
      margin: 20px 30px;
      overflow: auto;
      padding: 10px;
    }

    #CharaInfo {
      float: left;
      margin: 10px;
      overflow: auto;
    }

    #CharaInfoImages{
      border-radius: 25px;
      display: inline-block;
      background-color: #AE8445;
      background-image: linear-gradient(#96733D, #AB8040, #B0823E);
      padding: 20px;
      width: 80%;
      margin: auto;
    }

/*Row containing the character stories*/
    #row2 {
      border-radius: 25px;
      background-color: #B18C54;
      background-image: linear-gradient(#B18C54, #C29857, #CEA260);
      padding: 30px;
    }
    
    h2 {
    font-family: genshin_font;
    color: ##3B2F2E;
    font-size: 50px;
    text-align: left;
    position: relative;
    }

    h3 {
    font-family: genshin_font;
    color: ##3B2F2E;
    font-size: 30px;
    text-align: left;
    position: relative;
    }

    h4 {
    font-family: genshin_font;
    color: ##3B2F2E;
    font-size: 20px;
    text-align: left;
    position: relative;
    }
    
    p {
    font-family: genshin_font;
    color: ##3B2F2E;
    font-size: 15px;
    text-align: left;
    position: relative;
    }

#row3 {
      border-radius: 25px;
      background-color: #B18C54;
      background-image: linear-gradient(#B18C54, #C29857, #CEA260);
      padding: 30px;
      text-align: center;
      overflow: flex;
    }
